@charset "UTF-8";
/*! mlh v0.4.4 | MIT License | github.com/mlh */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins|Space+Mono&display=swap");
@font-face {
  font-family: "Space Mono Proportional";
  src: url("/src/fonts/SpaceMonoProportional-Regular.otf") format("otf");
}

@font-face {
  font-family: "Space Mono Proportional";
  src: url("/src/fonts/SpaceMonoProportional-Bold.otf") format("otf");
  font-weight: bold;
}

.debug * {
  outline: 1px solid gold;
}

:root {
  --border-radius-0: 0;
  --border-radius-1: 0.125rem;
  --border-radius-2: 0.25rem;
  --border-radius-3: 0.375rem;
  --border-radius-4: 1rem;
  --border-width-0: 0;
  --border-width-1: 0.125rem;
  --border-width-2: 0.25rem;
  --border-width-3: 0.375rem;
  --border-width-4: 1rem;
}

/**
 * Border Width Section
 * Note: Bootstrap sadly uses the !important syntax so
 * we need to add the !important syntax as well.
 */
.border-red {
  border-color: var(--red) !important;
}

.border-yellow {
  border-color: var(--yellow) !important;
}

.border-blue {
  border-color: var(--blue) !important;
}

.border-navy {
  border-color: var(--navy) !important;
}

.border-black {
  border-color: var(--black) !important;
}

.border-near-black {
  border-color: var(--near-black) !important;
}

.border-dark-gray {
  border-color: var(--dark-gray) !important;
}

.border-mid-gray {
  border-color: var(--mid-gray) !important;
}

.border-gray {
  border-color: var(--gray) !important;
}

.border-silver {
  border-color: var(--silver) !important;
}

.border-light-gray {
  border-color: var(--light-gray) !important;
}

.border-near-white {
  border-color: var(--near-white) !important;
}

.border-white {
  border-color: var(--white) !important;
}

.border-black-20 {
  border-color: var(--black-20) !important;
}

.border-width-0 {
  border-width: var(--border-width-0) !important;
}

.border-width-1 {
  border-width: var(--border-width-1) !important;
}

.border-width-2 {
  border-width: var(--border-width-2) !important;
}

.border-width-3 {
  border-width: var(--border-width-3) !important;
}

.border-width-4 {
  border-width: var(--border-width-4) !important;
}

.border-radius-0 {
  border-radius: var(--border-radius-0) !important;
}

.border-radius-1 {
  border-radius: var(--border-radius-1) !important;
}

.border-radius-2 {
  border-radius: var(--border-radius-2) !important;
}

.border-radius-3 {
  border-radius: var(--border-radius-3) !important;
}

.border-radius-4 {
  border-radius: var(--border-radius-4) !important;
}

.border-radius-100 {
  border-radius: 100%;
}

.border-radius-pill {
  border-radius: 9999px;
}

.border-radius-left-0 {
  border-bottom-left-radius: var(--border-radius-0) !important;
  border-top-left-radius: var(--border-radius-0) !important;
}

.border-radius-right-0 {
  border-bottom-right-radius: var(--border-radius-0) !important;
  border-top-right-radius: var(--border-radius-0) !important;
}

.border-radius-top-0 {
  border-top-left-radius: var(--border-radius-0) !important;
  border-top-right-radius: var(--border-radius-0) !important;
}

.border-radius-bottom-0 {
  border-bottom-left-radius: var(--border-radius-0) !important;
  border-bottom-right-radius: var(--border-radius-0) !important;
}

.border-radius-left-3 {
  border-bottom-left-radius: var(--border-radius-3) !important;
  border-top-left-radius: var(--border-radius-3) !important;
}

.border-radius-right-3 {
  border-bottom-right-radius: var(--border-radius-3) !important;
  border-top-right-radius: var(--border-radius-3) !important;
}

.border-radius-top-3 {
  border-top-left-radius: var(--border-radius-3) !important;
  border-top-right-radius: var(--border-radius-3) !important;
}

.border-radius-bottom-3 {
  border-bottom-left-radius: var(--border-radius-3) !important;
  border-bottom-right-radius: var(--border-radius-3) !important;
}

:root {
  --red: rgb(231, 52, 39);
  --dark-mode-red: rgb(242, 152, 148);
  --blue: rgb(29, 83, 159);
  --dark-mode-blue: rgb(131, 210, 255);
  --yellow: rgb(248, 185, 42);
  --dark-mode-yellow: rgb(254, 242, 154);
  --navy: rgb(18, 47, 76);
  --red-80: rgba(231, 52, 39, 0.8);
  --red-60: rgba(231, 52, 39, 0.6);
  --red-40: rgba(231, 52, 39, 0.4);
  --red-20: rgba(231, 52, 39, 0.2);
  --blue-80: rgba(29, 83, 159, 0.8);
  --blue-60: rgba(29, 83, 159, 0.6);
  --blue-40: rgba(29, 83, 159, 0.4);
  --blue-20: rgba(29, 83, 159, 0.2);
  --blue-10: rgba(29, 83, 159, 0.1);
  --yellow-80: rgba(248, 185, 42, 0.8);
  --yellow-60: rgba(248, 185, 42, 0.6);
  --yellow-40: rgba(248, 185, 42, 0.4);
  --yellow-20: rgba(248, 185, 42, 0.2);
  --navy-80: rgba(18, 47, 76, 0.8);
  --navy-60: rgba(18, 47, 76, 0.6);
  --navy-40: rgba(18, 47, 76, 0.4);
  --navy-20: rgba(18, 47, 76, 0.2);
  --black: rgb(0, 0, 0);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-10: rgba(0, 0, 0, 0.1);
  --white: rgb(255, 255, 255);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-20: rgba(255, 255, 255, 0.2);
  --green: rgb(58, 186, 150);
  --green-80: rgba(58, 186, 150, 0.8);
  --green-60: rgba(58, 186, 150, 0.6);
  --green-40: rgba(58, 186, 150, 0.4);
  --green-20: rgba(58, 186, 150, 0.2);
  --green-10: rgba(58, 186, 150, 0.1);
  --orange: rgb(245, 126, 45);
  --orange-80: rgba(245, 126, 45, 0.8);
  --orange-60: rgba(245, 126, 45, 0.6);
  --orange-40: rgba(245, 126, 45, 0.4);
  --orange-20: rgba(245, 126, 45, 0.2);
  --orange-10: rgba(245, 126, 45, 0.1);
  --purple: rgb(164, 83, 160);
  --purple-80: rgba(164, 83, 160, 0.8);
  --purple-60: rgba(164, 83, 160, 0.6);
  --purple-40: rgba(164, 83, 160, 0.4);
  --purple-20: rgba(164, 83, 160, 0.2);
  --purple-10: rgba(164, 83, 160, 0.1);
  --near-black: #1e1e28;
  --dark-gray: #35353f;
  --dark-mode-bg: #121212;
  --mid-gray: #7a7a84;
  --gray: #9e9ea8;
  --silver: #b8bac0;
  --light-gray: #e6e6e7;
  --near-white: #f5f5f9;
  --dark-blue: #0d3f86;
  --darkest-blue: #073371;
  --dark-red: #d2281c;
  --darkest-red: #a7150b;
  --dark-yellow: #e6a614;
  --dark-green: #32af8c;
  --dark-navy: #0f2a44;
  --darkest-navy: #0b2035;
  --washed-red: #fff4f4;
  --washed-blue: #f1faff;
  --washed-yellow: #fffcef;
  --washed-green: #ebf8f4;
  --washed-gray: #f8f8fc;
  --primary-blue: #357edd;
  --danger-red: #e73427;
}

.bg-red {
  background: var(--red);
}

.bg-yellow {
  background: var(--yellow);
}

.bg-blue {
  background: var(--blue);
}

.bg-dark-blue {
  background: var(--dark-blue);
}

.bg-navy {
  background: var(--navy);
}

.bg-black {
  background: var(--black);
}

.bg-near-black {
  background: var(--near-black);
}

.bg-dark-gray {
  background: var(--dark-gray);
}

.bg-mid-gray {
  background: var(--mid-gray);
}

.bg-gray {
  background: var(--gray);
}

.bg-silver {
  background: var(--silver);
}

.bg-light-gray {
  background: var(--light-gray);
}

.bg-near-white {
  background: var(--near-white);
}

.bg-white {
  background: var(--white);
}

.bg-primary {
  background-color: var(--primary-blue) !important;
}

.bg-green {
  background-color: var(--green);
}

.bg-washed-red {
  background-color: var(--washed-red);
}

.bg-washed-blue {
  background-color: var(--washed-blue);
}

.bg-washed-yellow {
  background-color: var(--washed-yellow);
}

.bg-orange-10 {
  background-color: var(--orange-10);
}

.bg-blue-10 {
  background-color: var(--blue-10);
}

.bg-blue-20 {
  background: var(--blue-20);
}

.bg-purple-20 {
  background: var(--purple-20);
}

.bg-purple-10 {
  background-color: var(--purple-10);
}

.bg-green-10 {
  background-color: var(--green-10);
}

.text-red {
  color: var(--red);
}

.text-yellow {
  color: var(--yellow);
}

.text-blue {
  color: var(--blue);
}

.text-navy {
  color: var(--navy);
}

.text-green {
  color: var(--green);
}

.text-orange {
  color: var(--orange);
}

.text-purple {
  color: var(--purple);
}

.text-black {
  color: var(--black);
}

.text-near-black {
  color: var(--near-black);
}

.text-dark-gray {
  color: var(--dark-gray);
}

.text-mid-gray {
  color: var(--mid-gray);
}

.text-gray {
  color: var(--gray);
}

.text-silver {
  color: var(--silver);
}

.text-light-gray {
  color: var(--light-gray);
}

.text-near-white {
  color: var(--near-white);
}

.text-white {
  color: var(--white);
}

.text-white-80 {
  color: var(--white-80);
}

.text-white-60 {
  color: var(--white-60);
}

.text-white-40 {
  color: var(--white-40);
}

.text-white-20 {
  color: var(--white-20);
}

.text-black-80 {
  color: var(--black-80);
}

.text-black-60 {
  color: var(--black-60);
}

.text-black-40 {
  color: var(--black-40);
}

.text-black-20 {
  color: var(--black-20);
}

.text-orange-10 {
  color: var(--orange-10);
}

.text-blue-10 {
  color: var(--blue-10);
}

.text-purple-10 {
  color: var(--purple-10);
}

/* Hover effects for text */
.hover-white:hover,
.hover-white:focus {
  color: var(--white);
}

.hover-white-80:hover,
.hover-white-80:focus {
  color: var(--white-80);
}

.hover-white-60:hover,
.hover-white-60:focus {
  color: var(--white-60);
}

.hover-white-40:hover,
.hover-white-40:focus {
  color: var(--white-40);
}

.hover-black:hover,
.hover-black:focus {
  color: var(--black);
}

.hover-black-80:hover,
.hover-black-80:focus {
  color: var(--black-80);
}

.hover-black-60:hover,
.hover-black-60:focus {
  color: var(--black-60);
}

.hover-black-40:hover,
.hover-black-40:focus {
  color: var(--black-40);
}

.hover-bg-washed-blue:hover {
  background-color: var(--washed-blue);
}

html,
body {
  background-color: #ffffff;
  box-sizing: border-box;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

*,
*:before,
*:after,
*:focus {
  box-sizing: inherit;
  outline: none;
}

img,
picture {
  max-width: 100%;
}

img > svg rect,
img > svg polygon,
picture > svg rect,
picture > svg polygon {
  fill: #ffffff;
}

.link {
  color: var(--blue);
  font-size: var(--font-size-6);
}

.link:hover,
.link.hover {
  color: var(--dark-blue);
  text-decoration: underline;
}

.link-danger {
  color: var(--red);
}

.link-danger:hover,
.link-danger.hover {
  color: var(--dark-red);
  text-decoration: underline;
}

.link.disabled {
  color: var(--silver) !important;
  pointer-events: none;
}

:root {
  --spacing-none: 0;
  --spacing-extra-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 20px;
  --spacing-extra-large: 32px;
  --spacing-extra-extra-large: 40px;
  --spacing-extra-extra-extra-large: 48px;
}

:root {
  --open-sans: "Open Sans", "Helvetica", "Arial", "sans-serif";
  --poppins: "Poppins", "sans-serif";
  --space-mono: "Space Mono Proportional", "Space Mono", "serif";
  --system: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-normal: 400;
  --font-weight-lighter: 300;
  --font-size-1: 4rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;
  --font-size-7: 0.75rem;
  --font-size-large: 1.25rem;
  --font-size-default: 1rem;
  --font-size-small: 0.875rem;
  --line-height-list: 1.75;
  --line-height-copy: 1.5;
  --line-height-title: 1.25;
  --line-height-solid: 1;
  --line-height-form: 1.375;
}

/* Default element styles */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading--original {
  font-family: var(--open-sans);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
}

html,
body {
  font-family: var(--open-sans);
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-normal);
}

p {
  margin: 0 0 var(--spacing-medium) 0;
  font-size: var(--font-size-default);
}

/* Font styles */
.open-sans {
  font-family: var(--opens-sans);
}

.poppins {
  font-family: var(--poppins);
}

.space-mono {
  font-family: var(--space-mono);
}

.system {
  font-family: var(--system);
}

/* Line heights */
.lh-solid {
  line-height: var(--line-height-solid);
}

.lh-title {
  line-height: var(--line-height-title);
}

.lh-copy {
  line-height: var(--line-height-copy);
}

/* Underline effects */
.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

/* Font Sizes */
.font-size-1 {
  font-size: var(--font-size-1);
}

.font-size-2 {
  font-size: var(--font-size-2);
}

.font-size-3 {
  font-size: var(--font-size-3);
}

.font-size-4 {
  font-size: var(--font-size-4);
}

.font-size-5 {
  font-size: var(--font-size-5);
}

.font-size-6 {
  font-size: var(--font-size-6);
}

.font-size-7 {
  font-size: var(--font-size-7);
}

/* Font weights */
em {
  font-style: italic;
}

small {
  font-size: var(--font-size-small);
}

strong {
  font-weight: var(--font-weight-bold);
}

.text-small {
  font-size: var(--font-size-small);
}

.text-lighter {
  font-weight: var(--font-weight-lighter);
}

.text-normal {
  font-weight: var(--font-weight-normal);
}

.text-bold {
  font-weight: var(--font-weight-bold);
}

.text-semibold {
  font-weight: var(--font-weight-semibold);
}

.text-wrap {
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

.w-third {
  width: calc(100% / 3);
}

.w-two-thirds {
  width: calc(100% / 1.5);
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

@media (min-width: 576px) {
  .w-sm-10 {
    width: 10%;
  }
  .w-sm-20 {
    width: 20%;
  }
  .w-sm-30 {
    width: 30%;
  }
  .w-sm-40 {
    width: 40%;
  }
  .w-sm-50 {
    width: 50%;
  }
  .w-sm-60 {
    width: 60%;
  }
  .w-sm-70 {
    width: 70%;
  }
  .w-sm-80 {
    width: 80%;
  }
  .w-sm-90 {
    width: 90%;
  }
  .w-sm-100 {
    width: 100%;
  }
  .w-sm-25 {
    width: 25%;
  }
  .w-sm-50 {
    width: 50%;
  }
  .w-sm-75 {
    width: 75%;
  }
  .w-sm-100 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .w-md-10 {
    width: 10%;
  }
  .w-md-20 {
    width: 20%;
  }
  .w-md-30 {
    width: 30%;
  }
  .w-md-40 {
    width: 40%;
  }
  .w-md-50 {
    width: 50%;
  }
  .w-md-60 {
    width: 60%;
  }
  .w-md-70 {
    width: 70%;
  }
  .w-md-80 {
    width: 80%;
  }
  .w-md-90 {
    width: 90%;
  }
  .w-md-100 {
    width: 100%;
  }
  .w-md-25 {
    width: 25%;
  }
  .w-md-50 {
    width: 50%;
  }
  .w-md-75 {
    width: 75%;
  }
  .w-md-100 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .w-lg-10 {
    width: 10%;
  }
  .w-lg-20 {
    width: 20%;
  }
  .w-lg-30 {
    width: 30%;
  }
  .w-lg-40 {
    width: 40%;
  }
  .w-lg-50 {
    width: 50%;
  }
  .w-lg-60 {
    width: 60%;
  }
  .w-lg-70 {
    width: 70%;
  }
  .w-lg-80 {
    width: 80%;
  }
  .w-lg-90 {
    width: 90%;
  }
  .w-lg-100 {
    width: 100%;
  }
  .w-lg-25 {
    width: 25%;
  }
  .w-lg-50 {
    width: 50%;
  }
  .w-lg-75 {
    width: 75%;
  }
  .w-lg-100 {
    width: 100%;
  }
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 100%;
  width: 72px;
  height: 72px;
}

.avatar-small,
.avatar-sm {
  width: 32px;
  height: 32px;
}

.avatar-md {
  width: 50px;
  height: 50px;
}

.badge {
  background: var(--black-10);
  border-radius: 3px;
  color: var(--black-60);
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-semibold);
  padding: var(--spacing-extra-small) 0.375rem;
}

.badge-primary {
  background: var(--blue-20);
  color: var(--blue);
}

.badge-danger {
  background: var(--red-20);
  color: var(--red);
}

.badge-success {
  background: var(--green-20);
  color: var(--green);
}

.badge-warning {
  background: var(--orange-20);
  color: var(--orange);
}

.badge-info {
  background: var(--purple-20);
  color: var(--purple);
}

.breadcrumb {
  background-color: unset;
  color: var(--dark-gray);
  font-size: 0.875rem;
}

.breadcrumb-item a,
.breadcrumb-item.active {
  color: var(--dark-gray);
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--dark-gray);
  content: "›";
}

.btn {
  border-radius: var(--border-radius-2);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-form);
  padding: var(--spacing-small) var(--spacing-large);
}

.btn-sm {
  font-size: var(--font-size-7);
}

.btn-lg {
  border-radius: var(--border-radius-3);
  font-size: var(--font-size-5);
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: var(--blue);
  border-color: var(--dark-blue);
}

.btn-primary:hover,
.btn-primary.hover {
  background-color: var(--dark-blue);
  border-color: var(--navy);
  color: var(--white);
}

.btn-primary:active,
.btn-primary.active {
  background-color: var(--darkest-blue) !important;
  border-color: var(--navy) !important;
  color: var(--white) !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--blue-40) !important;
}

.btn-light,
.btn-light.disabled,
.btn-light:disabled {
  background-color: var(--white);
  border-color: var(--blue-40);
  color: var(--blue);
}

.btn-light:hover,
.btn-light.hover {
  background-color: var(--washed-blue);
  border-color: var(--blue-60);
  color: var(--blue);
}

.btn-light:active,
.btn-light.active {
  background-color: var(--blue-80) !important;
  border-color: var(--blue) !important;
  color: var(--white) !important;
}

.btn-light:focus {
  box-shadow: 0 0 0 0.2rem var(--blue-20) !important;
}

.btn-dark,
.btn-dark.disabled,
.btn-dark:disabled {
  background-color: var(--navy);
  border-color: var(--navy);
  color: var(--white);
}

.btn-dark:hover,
.btn-dark.hover {
  background-color: var(--dark-navy);
  border-color: var(--dark-navy);
  color: var(--white);
}

.btn-dark:active,
.btn-dark.active {
  background-color: var(--darkest-navy) !important;
  border-color: var(--darkest-navy) !important;
  color: var(--white) !important;
}

.btn-dark:focus {
  box-shadow: 0 0 0 0.2rem var(--navy-40) !important;
}

.btn-danger,
.btn-danger.disabled,
.btn-danger:disabled {
  background-color: var(--red);
  border-color: var(--dark-red);
  color: var(--white);
}

.btn-danger:hover,
.btn-danger.hover {
  background-color: var(--dark-red);
  border-color: var(--dark-red);
}

.btn-danger:active,
.btn-danger.active {
  background-color: var(--darkest-red) !important;
  border-color: var(--darkest-red) !important;
}

.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem var(--red-40) !important;
}

.btn-outline-danger,
.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  background-color: var(--white);
  border-color: var(--red-40);
  color: var(--red);
}

.btn-outline-danger:hover,
.btn-outline-danger.hover {
  background-color: var(--washed-red);
  border-color: var(--red-60);
  color: var(--red);
}

.btn-outline-danger:active,
.btn-outline-danger.active {
  background-color: var(--red-80) !important;
  border-color: var(--dark-red) !important;
}

@media (max-width: 480px) {
  .btn-xs-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .btn-sm-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn-md-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .btn-lg-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .btn-xl-block {
    display: block;
    width: 100%;
  }
}

.card {
  border-radius: var(--border-radius-3);
  padding: var(--spacing-large) var(--spacing-extra-large);
}

.card .title {
  color: var(--navy);
}

.card.light {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
  color: var(--navy);
}

.card.dark {
  background-color: var(--blue);
  border-color: var(--dark-blue);
  color: var(--white);
}

.card.dark .title {
  color: var(--white);
}

:root {
  --form-height: 2.5rem;
}

/* Form input styles */
input,
select,
textarea {
  display: block;
  font-family: var(--open-sans);
  font-size: var(--font-size-default);
}

.input {
  border-radius: var(--border-radius-2);
  border: 1px solid var(--navy-40);
  color: var(--navy);
  font-size: var(--font-size-6);
  height: var(--form-height);
  line-height: var(--line-height-form);
  padding: var(--spacing-small) var(--spacing-medium);
  width: 100%;
}

.input.active,
.input:active,
.input:hover {
  background-color: var(--washed-gray);
  border-color: var(--navy);
}

.input::-webkit-input-placeholder {
  color: var(--navy);
  opacity: 0.6;
}

.input::-moz-placeholder {
  color: var(--navy);
  opacity: 0.6;
}

.input:-ms-input-placeholder {
  color: var(--navy);
  opacity: 0.6;
}

.input::-ms-input-placeholder {
  color: var(--navy);
  opacity: 0.6;
}

.input::placeholder {
  color: var(--navy);
  opacity: 0.6;
}

.input:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

.input.valid {
  background-color: var(--washed-green);
  border-color: var(--green);
}

.input.invalid {
  background-color: var(--washed-red);
  border-color: var(--danger-red);
}

.label {
  color: var(--navy);
  margin-bottom: var(--spacing-extra-small);
}

/* Form select styles */
select.select {
  background-color: var(--white);
  border: 1px solid var(--navy-40);
  color: var(--navy);
  font-size: var(--font-size-6);
  height: var(--form-height);
  line-height: var(--line-height-form);
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  width: 100%;
}

select.select.active,
select.select:active,
select.select:hover {
  border-color: var(--navy);
}

/* Form radio styles */
.radio {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  margin-bottom: 0.5rem;
}

.radio input[type="radio"] {
  margin-right: var(--spacing-small);
}

/* Form checkbox styles */
.checkbox {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  margin-bottom: 0.5rem;
}

.checkbox input[type="checkbox"] {
  margin-right: var(--spacing-small);
}

/* Form textarea styles */
.textarea {
  border: 1px solid var(--light-gray);
  resize: none;
  width: 100%;
}

.textarea.resize {
  resize: vertical;
}

.footer {
  padding: 2rem 0;
  position: relative;
  text-align: center;
}

.footer .footer__copyright {
  font-size: 0.75rem;
  opacity: 0.3;
}

.footer .footer__social-links {
  margin-bottom: 0.5rem;
}

.footer .footer__social-links a {
  margin: 0.25rem;
}

.flashes {
  color: #676869;
  background-color: #f7f9f9;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  z-index: 999;
}

.flashes .flashes__flash {
  border-bottom: 1px solid #e5e5e5;
  padding: 0.5rem 0;
}

ul {
  list-style-type: disc;
  padding-left: var(--spacing-medium);
  line-height: var(--line-height-list);
}

.list-reset {
  list-style-type: none;
  padding-left: 0;
}

.link-reset,
.link-reset:link,
.link-reset:hover {
  color: inherit;
  text-decoration: inherit;
}

.mlh-site-nav,
.mlh-product-nav {
  left: 0;
  position: relative;
  width: 100%;
}

.mlh-site-nav ul,
.mlh-product-nav ul {
  list-style: none;
  padding: 0;
}

.mlh-site-nav li,
.mlh-product-nav li {
  padding: 0;
  position: relative;
}

.mlh-site-nav a,
.mlh-product-nav a {
  text-decoration: none;
}

.mlh-site-nav .chevron--down,
.mlh-product-nav .chevron--down {
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-top: 0.25rem solid #000000;
  height: 0;
  margin-left: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 0;
}

.mlh-site-nav .content,
.mlh-product-nav .content {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 0;
}

.mlh-site-nav .nav-menu,
.mlh-product-nav .nav-menu {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
}

.mlh-site-nav .nav-menu__dropdown,
.mlh-product-nav .nav-menu__dropdown {
  left: 50%;
  padding-top: 1.5rem;
  position: absolute;
  opacity: 0;
  top: 2rem;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  visibility: hidden;
}

.mlh-site-nav .nav-menu__dropdown:before, .mlh-site-nav .nav-menu__dropdown:after,
.mlh-product-nav .nav-menu__dropdown:before,
.mlh-product-nav .nav-menu__dropdown:after {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.mlh-site-nav .nav-menu__dropdown:before,
.mlh-product-nav .nav-menu__dropdown:before {
  border: 0.56rem solid transparent;
  border-bottom-color: #e5e5e5;
  left: calc(50% - 0.56rem);
  top: 6px;
}

.mlh-site-nav .nav-menu__dropdown:after,
.mlh-product-nav .nav-menu__dropdown:after {
  border: 0.5rem solid transparent;
  border-bottom-color: #ffffff;
  left: calc(50% - 0.5rem);
  top: 9px;
}

.mlh-site-nav .nav-menu__dropdown ul,
.mlh-product-nav .nav-menu__dropdown ul {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  display: block;
  padding: 1rem 0;
  width: 25rem;
}

.mlh-site-nav .nav-menu__dropdown__item,
.mlh-product-nav .nav-menu__dropdown__item {
  display: -webkit-box;
  display: flex;
  line-height: 1.25;
  padding: 1rem 1.5rem;
}

.mlh-site-nav .nav-menu__dropdown__item:hover,
.mlh-product-nav .nav-menu__dropdown__item:hover {
  background-color: #f7f9f9;
}

.mlh-site-nav .nav-menu__dropdown__item:hover .nav-menu__dropdown__item__title,
.mlh-product-nav .nav-menu__dropdown__item:hover .nav-menu__dropdown__item__title {
  color: #265a8f;
}

.mlh-site-nav .nav-menu__dropdown__item.long-text,
.mlh-product-nav .nav-menu__dropdown__item.long-text {
  border-bottom: 1px solid #e5e5e5;
}

.mlh-site-nav .nav-menu__dropdown__item aside,
.mlh-product-nav .nav-menu__dropdown__item aside {
  height: 1.5rem;
  margin-right: 1rem;
  width: 1.5rem;
}

.mlh-site-nav .nav-menu__dropdown__item aside img,
.mlh-product-nav .nav-menu__dropdown__item aside img {
  height: auto;
  width: 1.5rem;
}

.mlh-site-nav .nav-menu__dropdown__item__desc,
.mlh-product-nav .nav-menu__dropdown__item__desc {
  color: #676869;
  font-size: 0.875rem;
  line-height: 1.5;
}

.mlh-site-nav .nav-menu__dropdown__item__title,
.mlh-product-nav .nav-menu__dropdown__item__title {
  color: #000000;
  margin-bottom: 0.25rem;
}

.mlh-site-nav .nav-menu__item,
.mlh-product-nav .nav-menu__item {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  margin-left: 2rem;
  min-height: 3rem;
}

.mlh-site-nav .nav-menu__item:hover .nav-menu__dropdown,
.mlh-product-nav .nav-menu__item:hover .nav-menu__dropdown {
  opacity: 1;
  visibility: visible;
}

.mlh-site-nav .nav-menu__item:hover span:before,
.mlh-product-nav .nav-menu__item:hover span:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  visibility: visible;
}

.mlh-site-nav .nav-menu__item:hover .chevron--down,
.mlh-product-nav .nav-menu__item:hover .chevron--down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mlh-site-nav .nav-menu__item:last-of-type .nav-menu__dropdown,
.mlh-product-nav .nav-menu__item:last-of-type .nav-menu__dropdown {
  left: 20%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (max-width: 480px) {
  .mlh-site-nav .nav-menu__item:last-of-type .nav-menu__dropdown,
  .mlh-product-nav .nav-menu__item:last-of-type .nav-menu__dropdown {
    left: -10%;
  }
}

.mlh-site-nav .nav-menu__item:last-of-type .nav-menu__dropdown ul,
.mlh-product-nav .nav-menu__item:last-of-type .nav-menu__dropdown ul {
  width: 18rem;
}

.mlh-site-nav .nav-menu__item.active span:before,
.mlh-product-nav .nav-menu__item.active span:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  visibility: visible;
}

.mlh-site-nav .nav-menu__item span,
.mlh-product-nav .nav-menu__item span {
  display: block;
  position: relative;
}

.mlh-site-nav .nav-menu__item span:before,
.mlh-product-nav .nav-menu__item span:before {
  background-color: #265a8f;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.15s ease-in-out 0s;
  transition: 0.15s ease-in-out 0s;
  visibility: hidden;
  width: 100%;
}

.mlh-site-nav .nav-menu__logo,
.mlh-product-nav .nav-menu__logo {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  text-decoration: none;
}

.mlh-site-nav .nav-menu__logo img,
.mlh-product-nav .nav-menu__logo img {
  max-width: 5.75rem;
}

.mlh-site-nav .nav-menu__logo h1,
.mlh-product-nav .nav-menu__logo h1 {
  color: #000000;
  font-size: 1rem;
  margin: 0 0 0 0.875rem;
  text-transform: uppercase;
}

.mlh-product-nav {
  position: absolute;
  z-index: 1000;
}

.mlh-product-nav .nav-menu__logo img {
  height: 2rem;
}

.mlh-site-nav {
  background-color: #ffffff;
  box-shadow: none;
  border-bottom: 1px solid var(--black-10);
  height: 4.5rem;
  top: 0;
  z-index: 1001;
}

.mlh-site-nav .nav-menu__user-img {
  border-radius: 50%;
  height: 2.5rem;
  margin-left: 0.5rem;
  width: 2.5rem;
}

.selectable .option {
  border: 1px solid var(--navy-20);
  border-radius: var(--border-radius-2);
  color: var(--navy);
  font-size: var(--font-size-6);
  height: var(--form-height);
  margin-right: var(--spacing-small);
  margin-bottom: var(--spacing-small);
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.selectable .option.light {
  background-color: var(--near-white);
  border: none;
}

.selectable .option.active {
  background-color: var(--blue);
  border-color: var(--dark-blue);
  color: var(--white);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead {
  font-weight: var(--font-weight-bold);
}

table.sortable th[role="columnheader"]:not(.no-sort) {
  cursor: pointer;
}

table.sortable th[role="columnheader"]:not(.no-sort):after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #ffffff transparent;
  visibility: hidden;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

table.sortable th[aria-sort="ascending"]:not(.no-sort):after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

table.sortable th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.4;
}

table.sortable th[role="columnheader"]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=pallet-0.4.5.css.map */